@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .noise {
    z-index: -20;
    position: absolute;
    inset: 0;
    background-image: theme('backgroundImage.noisePattern');
    opacity: 0.4;
    mix-blend-mode: overlay;
    pointer-events: none;
  }

  .main-noise {
    content: '';
    background-image: theme('backgroundImage.noisePattern');
    position: absolute;
    z-index: -1;
    top: 0%;
    bottom: 10%;
    left: -25%;
    background-repeat: repeat;
    background-blend-mode: overlay;
    width: 150%;
    height: 100%;
  }
}

* {
  box-sizing: border-box;
}