/* @import url('src/fonts/CarterOne-Regular.ttf'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Carter One';
  src: url('../fonts/CarterOne-Regular.ttf') format('truetype');
}

@layer utilities {
  .w-ch {
    width: 100ch;
  }
}

* {
  box-sizing: border-box;
}
