/* @import url('src/fonts/CarterOne-Regular.ttf'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Carter One';
  src: url('/fonts/CarterOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Italic';
  src: url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.item {
  width: 88%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  display: inline-block;
}
