---
import BaseLayout from '../layouts/BaseLayout.astro';
import TypeWritter from '../components/TypeWritter';
import Modal from '../components/Modal';
import { Icon } from 'astro-icon';
const pageTitle = 'Home Page';

import { person } from '../data';
const { name } = person;
---

<BaseLayout pageTitle={pageTitle}>
  <div
    class='md:w-max absolute top-1/2 right-1/2 translate-x-[50%] translate-y-[-50%] w-11/12 text-center'
  >
    <h2 class='inline text-4xl font-bold'>
      Hey there! <span
        class='relative bottom-1 right-1 md:text-5xl text-4xl inline-block animate-wave origin-[70%_70%]'
        >👋</span
      >, I'm {name.firstname} and I'm
      <span>
        <TypeWritter
          client:load
          sentences={[
            'from Romania.',
            'a frontend developer.',
            'a software engineer.',
            'a tech enthusiast.',
            'open for new ideas.',
          ]}
          options={{
            writeSpeed: 50,
            deleteSpeed: 50,
            pauseSpeed: 1300,
            caretSpeed: 500,
            isInfinite: false,
            startText: false,
          }}
        /></span
      >
    </h2>
    <button
      id='contactBtn'
      class='btn btn-info btn-outline glass mt-16'>Contact me</button
    >
  </div>
  <Modal client:load>
    <h3 class='font-bold text-4xl'>Contact me</h3>
    <p class='py-4 text-xl'>
      Interested in a conversation? I'll reply as fast as I can 👌
    </p>
    <form action=''>
      <label class='block' for=''>
        Name:
        <span class='i-mdi-home text-4xl'></span>
        <input
          type='text'
          placeholder='Type here'
          class='input input-bordered input-info w-full max-w-xs'
        />
      </label>
      <label class='block' for=''>
        Email:
        <input
          type='text'
          placeholder='Type here'
          class='input input-bordered input-info w-full max-w-xs'
        /></label
      >
      <label class='block' for=''>
        Message:
        <textarea class='textarea textarea-bordered' placeholder='Bio'
        ></textarea>
      </label>
    </form>
  </Modal>

  <script is:inline>
    document
      .getElementById('contactBtn')
      ?.addEventListener('click', () => {
        window?.document.getElementById('my_modal_1')?.showModal();
      });
  </script>
</BaseLayout>
