---
import BaseLayout from '../layouts/BaseLayout.astro';
import TypeWritter from '../components/TypeWritter';
const pageTitle = 'Home Page';

import { person } from '../data';
const { name } = person;
---

<BaseLayout pageTitle={pageTitle}>
  <div
    class='hero-content text-center md:w-max absolute top-1/2 right-1/2 translate-x-[50%] translate-y-[-50%] w-11/12'
  >
    <h2 class='inline text-4xl font-bold leading-snug'>
      Hello <span
        class='relative bottom-1 right-1 md:text-5xl text-4xl inline-block animate-wave origin-[70%_70%]'
        >👋</span
      >, I'm <i class="font-montserratItalic">{name.firstname} {name.lastname}</i> and I'm
      <span class='dark:text-[#8696FE] text-[#19A7CE]'>
        <TypeWritter
          client:load
          sentences={[
            'from Romania.',
            'a frontend developer.',
            'a software engineer.',
            'a tech enthusiast.',
            'open for new ideas.',
          ]}
          options={{
            writeSpeed: 50,
            deleteSpeed: 50,
            pauseSpeed: 1300,
            caretSpeed: 500,
            isInfinite: false,
            startText: false,
          }}
        /></span
      >
    </h2>
  </div>
</BaseLayout>
