---
import BaseLayout from '../layouts/BaseLayout.astro';
import TypeWritter from '../components/TypeWritter';
import Modal from '../components/Modal';

const pageTitle = 'Home Page';

import { person, social } from '../data';
const { linkedin, github } = social;
const { name } = person;
---

<BaseLayout pageTitle={pageTitle}>
  <section
    id='first-section'
    class='text-black dark:text-white p-4 flex-grow relative before:main-noise before:animate-backgroundColor flex items-center justify-center duration-700'
  >
    <div class='text-center'>
      <h2
        class='inline font-bold drop-shadow-xl leading-tight md:text-6xl text-4xl'
      >
        Hey there!<span
          class='relative bottom-1 right-1 text-5xl md:text-7xl inline-block animate-wave origin-[70%_70%]'
          >👋</span
        >I'm {name.firstname} and I'm
        <span>
          <TypeWritter
            client:load
            sentences={[
              'from Romania.',
              'a frontend developer.',
              'a software engineer.',
              'a tech enthusiast.',
              'open for new ideas.',
            ]}
            options={{
              writeSpeed: 50,
              deleteSpeed: 50,
              pauseSpeed: 1300,
              caretSpeed: 500,
              isInfinite: false,
              startText: false,
            }}
          />
        </span>
      </h2>

      <div class="mt-6">
        <button
          id='contactBtn'
          class='btn btn-info mt-6 bg-noisePattern drop-shadow-xl hover:bg-slate-50 text-black font-extrabold md:text-lg text-md'
          >Contact me</button
        >
        <div class='flex justify-center mt-6'>
          <a href={linkedin.link}
            ><span class='i-mdi-linkedin text-4xl ml-2 mr-2'
            ></span></a
          >
          <a href={github.link}
            ><span class='i-mdi-github text-4xl ml-2 mr-2'></span></a
          >
        </div>
      </div>
    </div>
  </section>

  <Modal client:load>
    <h3 class='font-bold text-4xl mb-4'>Contact me</h3>
    <p class='py-4 text-xl mb-4'>
      Interested in a conversation? I'll reply as fast as I can 👌
    </p>
  </Modal>

  <script is:inline>
    document
      .getElementById('contactBtn')
      ?.addEventListener('click', () => {
        window?.document.getElementById('my_modal_1')?.showModal();
      });
  </script>
</BaseLayout>

<style>
  #first-section::before {
    mask-image: radial-gradient(rgba(0, 0, 0, 0.9), transparent 70%);
  }
</style>
