---
import BaseLayout from '../layouts/BaseLayout.astro';

import Social from '../components/Social';
import Experience from '../components/Experience';
import { skills, jobs, icons } from '../data';
import { createLongString } from '../helper';
---

<BaseLayout>
  <div class='flex items-center justify-center relative mb-20'>
    <h1 class='text-4xl font-semibold text-center'>Resume</h1>
    <a
      href='/public/Resume-Alexandru-Visan.pdf'
      class='absolute top-0 bottom-0 left-0'
      download
    >
      <span
        class='absolute whitespace-nowrap top-8 left-1 font-semibold tracking-tighter'
        >PDF</span
      >
      <span class='i-mdi-file-download text-4xl'></span>
    </a>
  </div>

  <main>
    <section class='mb-4'>
      <h2 class='text-4xl mb-4 font-bold'>
        Alexandru Cristian Visan
      </h2>

      <Social icons={icons} client:load />
    </section>

    <section class='mb-4'>
      <h2 class='text-3xl mb-4'>Experience</h2>
      {jobs.map(job => <Experience job={job} client:load />)}
    </section>

    <section class='mb-4'>
      <h2 class='text-3xl mb-4'>Education</h2>

      <h3 class='text-xl'>Titu Maiorescu University</h3>
      <i class='text-md'>2013 - 2016 (3 years)</i>
      <p class='text-lg'>
        Bachelor's degree in Computer Science and Mathematics
      </p>
    </section>

    <section class='mb-4'>
      <h2 class='text-3xl mb-4'>Skills</h2>
      <p>{createLongString(skills)}</p>
    </section>
  </main>
</BaseLayout>
