---
import Hamburger from './Hamburger';
import HeaderContainer from './HeaderContainer';
import Navigation from './Navigation';
import ThemeIcon from './ThemeIcon.astro';

let currentPath = new URL(Astro.url).pathname;
if (
  currentPath.charAt(currentPath.length - 1) === '/' &&
  currentPath.length !== 1
) {
  currentPath = currentPath.slice(0, -1);
}
---

<HeaderContainer client:load>
  <nav class='sm:flex sm:flex-row-reverse items-center max-w-7xl mx-auto'>
    <div
      class='flex justify-between items-center pr-4 pl-4 relative z-10'
    >
      <Hamburger client:load />
      <ThemeIcon />
    </div>
    <Navigation client:load currentPath={currentPath} />
  </nav>
</HeaderContainer>
<div class='divider'></div>
