---
import { person, social } from '../data'

const { firstname, surname, lastname } = person.name
---

<footer class='shrink-0 text-center border-t-2 p-1'>
  <p>
    Website built using <a
      class='italic text-sky-400 underline'
      target='_blank'
      href='https://astro.build/'>Astro</a
    >, <a
      class='italic text-sky-400 underline'
      target='_blank'
      href='https://preactjs.com/'>Preact</a
    > and
    <a
      class='italic text-sky-400 underline'
      target='_blank'
      href='https://tailwindcss.com/'>Tailwind</a
    > by <a href={social.linkedin.link} class='italic underline text-sky-400'
      >{`${firstname} ${surname} ${lastname}`}</a
    >.
  </p>
</footer>
