---
import Hamburger from './Hamburger';
import Navigation from './Navigation';
import ThemeIcon from './ThemeIcon.astro';
import TypeWritter from './TypeWritter';

let currentPath = new URL(Astro.url).pathname;
if (
  currentPath.charAt(currentPath.length - 1) === '/' &&
  currentPath.length !== 1
) {
  currentPath = currentPath.slice(0, -1);
}
---

<header class='md:pt-4 pt-4 pr-2 pl-2'>
  <nav class='flex justify-between items-center'>
    <Hamburger client:load />
    <a
      href='/'
      class='font-carter text-3xl text-gray-700 dark:text-gray-200 hover:text-blue-700'
    >
      <TypeWritter
        client:load
        sentences={['Alex Visan.', 'AV.']}
        options={{
          writeSpeed: 80,
          deleteSpeed: 150,
          pauseSpeed: 1000,
          caretSpeed: 500,
          isInfinite: true,
          startText: true,
        }}
      />
    </a>
    <div class='flex items-center'>
      <Navigation client:load currentPath={currentPath} />
      <ThemeIcon />
    </div>
  </nav>
  <div class='divider'></div>
</header>
