---
import Hamburger from "./Hamburger";
import Navigation from "./Navigation";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="p-4 border-b-2">
  <nav>
    <Hamburger client:load />
    <div class="flex justify-between">
      <Navigation client:load />
      <ThemeIcon />
    </div>
  </nav>
</header>
