---
import Hamburger from "./Hamburger";
import Navigation from "./Navigation";
import ThemeIcon from "./ThemeIcon.astro";

const currentPath = new URL(Astro.url);
console.log(currentPath);
const test = JSON.stringify({
  href: currentPath.href,
  pathname: currentPath.pathname,
});
---

<header class="p-2 border-b-2">
  <nav class="flex justify-between items-center">
    <Hamburger client:load />
    <Navigation client:load currentPath={currentPath} />
    <ThemeIcon />
  </nav>
  <p>{test}</p>
</header>
