---
import Hamburger from "./Hamburger";
import Navigation from "./Navigation";
import ThemeIcon from "./ThemeIcon.astro";

let currentPath = new URL(Astro.url).pathname;
if (currentPath.charAt(currentPath.length - 1) === '/' && currentPath.length !== 1) {
  currentPath = currentPath.slice(0, -1)
}
---

<header class="p-2 border-b-2">
  <nav class="flex justify-between items-center">
    <Hamburger client:load />
    <Navigation client:load currentPath={currentPath} />
    <ThemeIcon />
  </nav>
</header>
