---
import Footer from '../components/Footer.astro';
import Header from '../components/Header/index.astro';

import '../styles/global.css';

const { pageTitle } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
    <script is:inline>
      const theme = (() => {
        if (typeof document !== 'undefined') {
          const cookie = document.cookie
            .split('; ')
            .find(row => row.startsWith('theme='));

          if (cookie) {
            return cookie.split('=')[1];
          }
        }

        if (
          window.matchMedia('(prefers-color-scheme: dark)').matches
        ) {
          return 'dark';
        }

        return 'light';
      })();

      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
    </script>
  </head>
  <body class='dark:bg-[#17191e] bg-[#faf0f0] duration-500'>
    <div class='flex flex-col min-h-screen overflow-x-hidden'>
      <Header />

      <main
        class='flex flex-1 flex-col z-10 isolate max-w-7xl mx-auto w-full'
      >
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
